{
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-jsdoc",
    "prettier-plugin-package",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
